<h1>Centralized VoD Manager: cmu-agens</h1>
<p>This is the centralized manager to keep all servers' and clients' information</p>
<h2>All Client's Information</h2>
<ul>
	<li><a href="/hello/node/">Show All Client Nodes</a></li>
	<li><a href="/hello/site/">Show All Client Sites</a></li>
	<li><a href="/hello/nodecsv/">Download Client Nodes as CSV</a></li>
	<li><a href="/hello/coordinates/">Download Node Geo-coordinates as CSV</a></li>
	<li><a href="/hello/as/">Show the Autonomous System (AS) info for each client node</a></li>
</ul>
<h2>All Video Server's Information</h2>
<p>All video servers' agents are running on default port: 8615 (control plane). Following apps only discover cache agents running on port 8615! The default video streaming port is 80 (data plane).</p>
<ul>
	<li><a href="/overlay/initNodes/">Obtain all video servers deployed in Google Cloud that run cache agents on port 8615.</a></li>
	<li><a href="/overlay/initManager/">Notify all video servers about the new manager.</a></li>
	<li><a href="/overlay/initOverlay/">Initialize the cache agent overlay network for all video servers.</a></li>
	<li><a href="/overlay/queryOverlay/">Query the cache agent overlay network from all video servers.</a></li>
	<li><a href="/overlay/query/">Overlay Query: query the existing overlay network of video servers</a></li>
	<li><a href="/overlay/node/">Overlay Query: show the node info in the cache agent overlay network</li>
	<li><a href="/overlay/edge/">Overlay Query: show the edges in the cache agent overlay network</a></li>
	<li><a href="/overlay/zone/">Overlay Query: show all the node's datacenter zones</a></li>
	<li><a href="/overlay/graph/">Overlay Graph: show the overlay graph plotted in D3.js</li>
</ul>
<h2>The closest cache agent for recent clients</h2>
<p>Whenever a client request comes to the VoD system, it will be served by the closest cache agent (redirector) in the system. Following operations are REST API for showing, adding, deleting, or dumping such information</p>
<ul>
	<li><a href="/cacheagent/">Showing all recent clients and their cache agents.</a></li>
	<li>Add one record by (Usually called by clients): /cacheagent/add?client=clientName&amp;cache_agent=video_srv_name</li>
	<li><a href="/cacheagent/dump/">Dump all recent clients' cache agents into json file in /tmp/cache_agents_timestampe.json</a></li>
	<li><a href="/cacheagent/delete/">Delete all recent clients' cache agents info.</a></li>
</ul>
