<h1>Centralized VoD Manager: cmu-agens</h1>
<p>This is the centralized manager to keep all servers' and clients' information</p>
<h2>All Client's Information</h2>
<ul>
	<li><a href="/hello/node/">Show All Client Nodes</a></li>
	<li><a href="/hello/site/">Show All Client Sites</a></li>
	<li><a href="/hello/nodecsv/">Download Client Nodes as CSV</a></li>
	<li><a href="/hello/coordinates/">Download Node Geo-coordinates as CSV</a></li>
	<li><a href="/hello/as/">Show the Autonomous System (AS) info for each client node</a></li>
</ul>
<h2>All Video Server's Information</h2>
<p>All video servers' agents are running on default port: 8615 (control plane). Following apps only discover cache agents running on port 8615! The default video streaming port is 80 (data plane).</p>
<ul>
	<li><a href="/overlay/">Centralized Overlay Contructor: construct the overlay network of all video servers deployed in Google Cloud that run cache agents on port 8615.</li>
	<li><a href="/overlay/query/">Overlay Query: query the existing overlay network of video servers</li>
	<li><a href="/overlay/edge/">Overlay Query: show the edges in the cache agent overlay network</li>
	<li><a href="/overlay/node/">Overlay Query: show the node info in the cache agent overlay network</li>
	<li><a href="/overlay/node/">Overlay Query: show all the node's datacenter zones</li>
</ul>
