{% if node_num %}
    <h1>There are totally {{ node_num }} PlanetLab nodes available!</h1>
{% endif %}
{% if plc_nodes %}
<table style="width:100%">
    <tr>
	<td>Node ID</td>
	<td>Node Hostname</td>
	<td>Node IP</td>
	<td>Node Site</td>
	<td>Node OS version</td>
	<td>Node Python version</td>
    </tr>
    {% for node in plc_nodes %}
	<tr>
		<td>{{ node.id }}</td>
		<td><a href="/hello/node/{{ node.id }}/">{{ node.name }}</a></td>
		<td>{{ node.node_ip }}</td>
		<td>{{ node.site }}</td>
		<td>{{ node.node_os }}</td>
		<td>{{ node.node_python }}</td>
	</tr>
    {% endfor %}
</table>
{% else %}
    <p>No planetlab nodes are available.</p>
{% endif %}
