</h1>{{ plc_node.name }}</h1>
<ul>
    <li><b>Node ID: </b>{{ plc_node.id }}</li>
    <li><b>Node IP Address: </b>{{ plc_node.node_ip }}</li>
    <li><b>Site ID: </b>{{ plc_node.site_id }}</li>
    <li><b>Site Name: </b><a href="/hello/site/{{ plc_node.site_id }}/">{{ plc_node.site }}</a></li>
    <li><b>Node Type: </b>{{ plc_node.node_type }}</li>
    <li><b>Node OS Version: </b>{{ plc_node.node_os }}</li>
    <li><b>Node Python Version: </b>{{ plc_node.node_python }}</li>
    <li><b>Node AS INFO: </b></li>
    <p>{{ plc_node.node_as|linebreaksbr }}</p>
</ul>
<a href="{% url 'hello:nodes' %}">Return to the list</a>
