<h1> Content Caching Parameters </h1>
<form action="/video/init" method="get">
	The total number of videos : <br>
	<input type="number" name="videoNum" value="100" min="100" max="1000" step="100"/>
	Zipf Distribution Parameters: <br>
	<input type="number" name="zipfParam" step="any" value="0.1"/>
	Guaranteed number of replications: <br>
	<input type="number" name="minCopy" min="1" max="10" step="1" value="3"/>
	<input type="submit" value="Initialize Content Caching">
</form>
<p>Please run the init command to initialize the content placement!</p>
